@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color-primary: #1C1D21;
    --color-primary-light:#24252A;
    --color-primary-blue:  #1D6BF9;
    --color-primary-blue-dark: #0546BC;
    --color-secondary: #252c6a;
    font-family: "Lato", sans-serif;
    width: auto;
    height: auto;
    background-color: var(--color-primary);
}



/*-----------MAIN NAV-------------*/

header li, 
header a,
header button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header .it-project {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
}

header {
    background-color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 25px;
}



header .btn-menu {
    display: block;
    position: absolute;
    right: 174px;
    top: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .btn-menu:hover {
    color: var(--color-primary-dark);
}

.btn-menu p {
    position: absolute;
    right: 40px;
    top: 5px;
    color: #edf0f1;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.main-nav {
    list-style: none;
}

header .main-nav li {
    display: block; 
    line-height: 50px;
}

.main-nav li a {
    font-size: 500;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}


.main-nav li a:hover {
    color: var(--color-primary-blue-dark)
}

.btn-login {
    padding: 9px 25px;
    background-color: var(--color-primary-blue);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-login:hover {
    background-color: var(--color-primary-blue-dark);
}

header .main-nav.show{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
    transition-delay: 0s, 0s, 0.03s;
}

header .main-nav{
    position: fixed;
    background-color: var(--color-primary-light);
    /* width: 20%;
    height: 225px; */
    top: 60px;
    right: 45px;
    padding: 15px 5%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateX(25em);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s, z-index 0s linear 0.01s; 
    border: solid 1px var(--color-primary-blue-dark);
}




/*--------STICKY NAV--------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


/* .sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: #555;
} */


/*-----Main------*/

.main-section {
    position: relative;
    background-color: var(--color-primary); 
    height: auto;
     /* background-image: linear-gradient(rgba(36, 37, 42, 0.99) 19%, rgba(36, 37, 42, 0.98), rgba(36, 37, 42, 0.98), rgba(36, 37, 42, 0.97) , rgba(36, 37, 42, 0.96), rgba(36, 37, 42, 0.95) , rgba(36, 37, 42, 0.94) , rgba(36, 37, 42, 0.93) 100%, rgba(36, 37, 42, 0.92), rgba(36, 37, 42, 0.91) 100%, rgba(36, 37, 42, 0.9) 100%);  */
    /* background-image: linear-gradient(rgba(36, 37, 42, 0.99), rgba(36, 37, 42, 0.9));  */




}

.main {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 33%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #edf0f1;
}

.main h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main p {
    display: flex;
    justify-content: center;
    text-align: start;
    line-height: 20px;
}

h3::after {
    display: block;
    height: 2px;
    background-color: var(--color-primary-blue);
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}


/* UPDATE PROFILE */

.container {
    /* position: absolute; */
    display: flex   ;
    align-items: center;
    justify-content: center;
    /* top: 50%;
    left: 49%;
    transform: translate(-50%, -50%); */
    /* border: 2px solid #0546BC; */
    padding: 2.5rem;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.main-text {
    margin-top: 50px;
    color: #ffff;
    text-align: center;
}

.form-button{
    text-align: center;
}


.btn {
    width: 60%;
    padding: 0.75rem;
    border-radius: 15px;
    border: none;
    background-color: var(--color-primary-blue);
    color: #eeeeee;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--color-primary-blue-dark);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-button i {
    padding-right: 8px;
    margin-left: 7px;
    opacity: 0;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 
 .success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }

 .container form {
    border: 1px solid var(--color-primary-blue);
    padding: 50px 50px;
    box-shadow: 0 0 40px rgba(5, 70, 188, 0.2);
 }

 /* Select  */

 .model {
    color: #ffff;
 }

 .select-model {
    width: 100%;
    padding: 0.75rem;
    margin-top: 10px;
    box-sizing: border-box;
    /* box-shadow: 0 0 40px rgba(5, 70, 188, 0.2); */
    border: 1px solid #0546BC;
    background-color: var(--color-primary-light);
    color: #ffff;
    /* text-align: center; */
    border-radius: 15px;
 }


 /* user data */

 .user-safes {
    display: flex;
    justify-content: center;
 }

 .user-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0px;
    border: 1px solid var(--color-primary-blue-dark);
    width: 800px;
    height: 100px;
    border-radius: 30px;
 }

 .user-container span {
    color: #ffff;
 }

 .change-password.ch{
    min-width: 60%;
    padding: 0.4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary-blue);
    color: #eeeeee;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    margin-bottom: 5px;
 }

 .change-password.de {
    min-width: 60%;
    padding: 0.4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary-blue);
    color: #eeeeee;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    margin-top: 5px;
 }

/* PROFILE */

.profile-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
    border: none;
    cursor: pointer;
}

.profile-btn:hover {
    background-color: #4B4D58;
}

.profile-icon {
    color: #0546BC;
}

/* header .profile.show{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.03s;
}

header .profile{
    position: fixed;
    background-color: var(--color-secondary-light);
    width: 100%;
    height: 30vh;
    top: 60px;
    left: 0;
    padding: 10px 50px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-4em);
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; 
}

header .profile {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} */

/* Keyboard */

.password-text {
    color: #ffff;
    margin-top: 15px;
    width: 250px;
 }

.passwordInput {
    color: white;
    display: flex;
    width: 100%;
    margin: 10px 0px;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid var(--color-primary-blue-dark);
    outline: none;
    background: var(--color-primary-light);
    border-radius: 15px;
    font-size: 110%;
}

.password-user {
    color: white;
    display: flex;
    width: 100%;
    margin: 10px 0px;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid var(--color-primary-blue-dark);
    outline: none;
    background: var(--color-primary-light);
    border-radius: 15px;
    font-size: 110%;
}

.userpassword p {
    color: #ffff;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard button {
    background-color: var(--color-primary-light);
    color: #ffff;
    border: 1px solid  var(--color-primary-blue-dark);
    display: inline-block;
    padding: 18px 18px;
    margin: 5px;
    font-size: 13px;
    font-weight: bold;
}

.keyboard button:active {
    background-color: var(--color-primary);
    box-shadow: 0 0 40px rgba(5, 70, 188, 0.2);
}

.keyboard button.special {
    background-color: var(--color-primary-blue);
    border: 1px solid  var(--color-primary-blue-dark);
}

.keyboard button.special:active {
    background-color: var(--color-primary-blue-dark);
    box-shadow: 0 0 40px rgba(5, 70, 188, 0.2);
}

.keyboardBackspace {
    width: 220px;
}

/* Modal window */

.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    min-width: 20%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--color-primary) /* Fallback color */
  }

  .close {
    position: absolute;
    color: #aaa;
    top: 5px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: var(--color-primary-blue-dark);
  text-decoration: none;
  cursor: pointer;
}



/* ------footer-------- */

footer {
    background-color: var(--color-primary);
    padding: 20px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: none;
    color: #555;
    transition: color 0.2;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    text-decoration: none;
    border: none;
    color: #888;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}




/*media-query*/

@media (max-width: 1060px) {
    header .btn-menu {
        display: block;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    header .btn-menu:hover {
        color: var(--color-primary-dark);
    }

    header .main-nav li {
        display: block; 
        line-height: 45px;
    }

    header .main-nav li a{
        font-size: 500;
        font-weight: 700;
    }

    header .main-nav.show{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
        transition-delay: 0s, 0s, 0.03s;
    }

    header .main-nav{
        position: fixed;
        background-color: var(--color-secondary-light);
        width: 100%;
        height: 30vh;
        top: 60px;
        left: 0;
        padding: 10px 50px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transform: translateY(-4em);
        transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; 
    }

    .main-section {
        height: 90vh;
    }

    .main h2 {
        margin-bottom: 50px;
        font-size: 50px;
        letter-spacing: px;
    }

    
    .main p {
        display: flex;
        justify-content: start;
        font-size: 15px;
        max-width: 500px;
    }


    .row {
        display: block;
    }

    .column {
        margin: 0px;
    }

    .column p {
        padding: 30px 0px;
        margin-top: 20px;
    }

    .modal-content {
        width: 100%; /* Full width */
        height: 90%; /* Full height */

      }
    
    
}

@media (max-width: 750px) {
    .modal-content {
        width: 100%; /* Full width */
        height: 90%; /* Full height */

      }
}